<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elsa, a multipurpose Template from Andreas Lautenschlager">
    <meta name="author" content="Andreas Lautenschlager - www.lautenschlager.de">

    <title>Elsa Theme - Multipurpose Template from Andreas Lautenschlager</title>

    <!-- normalize core CSS -->
    <link href="css/normalize.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/carousel.css" rel="stylesheet">
    <link href="bootstrap/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">

    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Fonts - Change if needed -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Menu shrinking -->
    <script type="text/javascript" src="js/menu.js"></script>

    <!-- Main styles of this template -->
    <link href="css/style.min.css?v=1.0.0" rel="stylesheet">

    <!-- Custom CSS. Input here your changes -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>


    <!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html"><img class="logo" src="img/logo.png" alt="Logo"></a>
            </div>
            <nav class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Main Page</li>
                            <li><a href="index.html">Index</a></li>
                            <li class="dropdown-header">Alternative Headers</li>
                            <li><a href="index-header-hero.html">Hero Image</a></li>
                            <li><a href="index-header-product.html">Product Feature</a></li>
                            <li><a href="index-header-newsletter.html">Newsletter</a></li>
                            <li><a href="index-header-carousel.html">Classic Carousel</a></li>
                            <li><a href="index-header-video.html">Video</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Company</li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="our-team.html">Our Team</a></li>
                            <li><a href="sales-page.html">Sales Page</a></li>
                            <li class="active"><a href="contact.html">Contact Us</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Creative</li>
                            <li><a href="about-me.html">About Me</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="portfolio-item.html">Portfolio Item</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Page Layouts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Page Layouts</li>
                            <li><a href="full-width.html">Full Width</a></li>
                            <li><a href="right-sidebar.html">Right Sidebar</a></li>
                            <li><a href="left-sidebar.html">Left Sidebar</a></li>
                            <li><a href="right-left-sidebar.html">Right &amp; Left Sidebar</a></li>
                            <li><a href="404.html">404 Error</a></li>
                        </ul>
                    </li>
                    <li><a href="components.html">Components</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Standard Layout</li>
                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog-single-post.html">Blog Single Post</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Creative Layout</li>
                            <li><a href="blog-full-width.html">Blog No Sidebar</a></li>
                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>




    <!-- Map -->
    <section class="page-section-no-padding">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-md-12 padding-0 map-page-header">
                    <div id="map" class="img-responsive map-style"></div>
                </div>
            </div>
        </div>
    </section>





    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>





    <!-- CONTAKT US-->
    <section class="page-section">
        <div class="container">
            <div class="row ">

                <div class="col-md-8">
                    <h2 class="title-section"><span class="title-regular">CONTACT</span><br/>US</h2>
                    <hr class="title-underline " />
                    <p>
                        Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                    </p>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr" placeholder="NAME">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="EMAIL">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="message" placeholder="MESSAGE"></textarea>
                    </div>
                    <button type="button" class="btn btn-default">SEND <i class="fa fa-envelope"></i></button>
                </div>
                <div class="col-md-4">
                    <h3>More Info</h3>
                    <p>sit amet, consectetur adipiscing elit. Integer placerat metus id orci facilisis, in luctus eros laoreet. Mauris interdum augue varius, faucibus massa id, imperdiet tortor. Donec vel tortor molestie, hendrerit sem a, hendrerit arcu. Aliquam erat volutpat. Proin varius eros eros, non condimentum nis.</p>
                    <p><strong>Address:</strong>
                        <br/>Samplestreet 3
                        <br/>34117 Kassel
                        <br/>Germany</p>
                    <p><strong>Phone:</strong> +49 561 00 00 00 00</p>
                    <p><strong>Fax:</strong> +49 561 00 00 00 00</p>
                    <p><strong>Business Hours:</strong> 8am to 6:30pm</p>
                </div>
            </div>
        </div>
    </section>





    <!-- FOOTER 1 -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div>
                        <a href="index.html">
                            <img class="footer-logo" src="img/logo-footer.png" alt="logo">
                        </a>
                    </div>
                    <div>
                        <address class="margin-bottom-30">
                            <p>Samplestreet 3<br/>
                            34117 Kassel<br/>
                            Germany</p>
                        </address>
                    </div>
                    <div class="margin-bottom-30">
                        <p><i class="fa fa-phone"></i> +49 561 00 00 00 00
                            <br/>
                            <i class="fa fa-fax"></i> +49 561 00 00 00 00</p>
                    </div>
                    <div>
                        <a href="https://lautenschlager.de">www.lautenschlager.de</a>
                        <br/>
                        <a href="mailto:info@lautenschlager.de">info@lautenschlager.de</a>
                    </div>
                </div>
                <div class="col-md-3 footer-menu">
                    <h4>About Us</h4>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                    <a href="about-us.html">
                        <button class="btn btn-primary">Read More</button>
                    </a>
                </div>
                <div class="col-md-3 footer-blog">
                    <h4>RECENT BLOG POSTS</h4>
                    <ul>
                        <li><a href="#">Blog Entry 1<br/></a> <a href="#">February 10 / John Doe </a></li>
                        <li><a href="#">Blog Entry 2<br/></a> <a href="#">March 14 / Jane Doe </a></li>
                        <li><a href="#">Blog Entry 3<br/></a> <a href="#">April 06 / Jenny Doe </a></li>
                        <li><a href="#">Blog Entry 4<br/></a> <a href="#">June 25 / James Doe </a></li>
                    </ul>
                </div>
                <div class="col-md-3  footer-menu">
                    <h4>NAVIGATE</h4>
                    <ul>
                        <a href="index.html">
                            <li>Home</li>
                        </a>
                        <a href="about-me.html">
                            <li>About Me</li>
                        </a>
                        <a href="about-us.html">
                            <li>About Us</li>
                        </a>
                        <a href="our-team.html">
                            <li>Our Team</li>
                        </a>
                        <a href="blog-right-sidebar.html">
                            <li>Blog</li>
                        </a>
                        <a href="contact.html">
                            <li>Contact</li>
                        </a>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- FOOTER 2 -->
    <footer class="page-section-no-padding  footer2-container">
        <div class="container">
            <div class="row">
                <!-- Copyright -->
                <div class="col-xs-6">
                    <p>Follow me on <a href="https://twitter.com/lautenschlagera" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #38A1F3;"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg></a></p>
            		<p>Template created for free commercial use by Andreas Lautenschlager.<br>More free downloads under <a href="https:/lautenschlager.de" target="_blank">lautenschlager.de</a></p>
            		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" class="fixed"></a><br>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.
                </div>

                <!-- Social Links -->
                <div class="text-right col-xs-6 footer2-social-container">
                    <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                    <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                    <a href="#" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a href="#" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->

    <!-- Loads Bootstrap Main JS -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Initiate Google Maps - For more Infos look into the documentation -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/google-map.js"></script>

</body>

</html>