
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elsa, a multipurpose Template from Andreas Lautenschlager">
    <meta name="author" content="Andreas Lautenschlager - www.lautenschlager.de">

    <title>Python Learning</title>

    <!-- normalize core CSS -->
    <link href="../static/css/normalize.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/carousel.css" rel="stylesheet">
    <link href="../static/bootstrap/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">

    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="../static/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Fonts - Change if needed -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Menu shrinking -->
    <script type="text/javascript" src="../static/js/menu.js"></script>

    <!-- Main styles of this template -->
    <link href="../static/css/style.min.css?v=1.0.0" rel="stylesheet">

    <!-- Custom CSS. Input here your changes -->
    <link href="../static/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>
<section id="content1-t">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8"><div>
                The pdb module in Python provides us with immense features for effective debugging of python code. This includes:<br>

                1.Pause a program<br>
                2.Look at the values of variables<br>
                3.Look at program execution on every line<br>
                These are just some points that make pdb module a boon for Python programmers. Let’s look at how we can start using this module.<br>

                Starting Python Debugger<br>
                Well, it isn’t about the program. We can start pdb with any program. Here is a sample program:<br>

                Let’s see the output for this program:<br>


                Starting pdb within the program<br>
                Above example started pdb from the command line, so, pdb tracing started from the very first line of execution. <br>
                Usually, we only want to debug a specific area of a program which comes much after the program has started.<br>

                To achieve this, we use pdb in our programs itself. Let’s look at a code snippet:<br>


                Let’s see the output for this program:<br>



                Post-mortem debugging<br>
                Once the program is finished with the execution process, debugging a failure in it is termed as post-mortem debugging.<br>
                The module supports this as well with few more functions:<br>


                Checking variables on the Stack<br>
                One of the point of using a debugger at all is that we should be able to check the program stack and what variables are stored on <br>
                that stack during program execution. We can do this with pdb as well. Let’s look at a code snippet:<br>


                Let’s see the output for this program:<br>



                Conclusion<br>
                In this post on python debugging, we saw how we can effectively debug a Python program and identify any issues we face using pdb module.<br>
            </div>
            </div>
        </div>
    </div>
</section>