
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elsa, a multipurpose Template from Andreas Lautenschlager">
    <meta name="author" content="Andreas Lautenschlager - www.lautenschlager.de">

    <title>Python Learning</title>

    <!-- normalize core CSS -->
    <link href="../static/css/normalize.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/carousel.css" rel="stylesheet">
    <link href="../static/bootstrap/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">

    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="../static/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Fonts - Change if needed -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Menu shrinking -->
    <script type="text/javascript" src="../static/js/menu.js"></script>

    <!-- Main styles of this template -->
    <link href="../static/css/style.min.css?v=1.0.0" rel="stylesheet">

    <!-- Custom CSS. Input here your changes -->
    <link href="../static/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>
<section class="mbr-section article content1 cid-rtaxlaWVoY" id="content1-12">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text">
                Iteration repeats the execution of a sequence of code. Iteration is useful for solving many programming problems. <br>
                Iteration and conditional execution form the basis for algorithm construction.
                There are two basic Iterative statements that we Commonly Use :
                <ol>
                    <li>While Statement</li>
                    <li>For Statement</li>
                </ol>
                <strong>The While statement</strong>
                The expression following the while keyword is the condition that determines if the statement block is executed or <br>
                continues to execute. As long as the condition is true, the program executes the code block over and over again. When <br>
                the condition becomes false, the loop is finished. If the condition is false initially, the code block within the <br>
                body of the loop is not executed at all.The while statement has the general form:<br>
                while condition :<br>
                block<br><br>

                • The reserved word while begins the while statement.<br>
                • The condition determines whether the body will be (or will continue to be) executed. A colon (:)<br>
                must follow the condition.
                • block is a block of one or more statements to be executed as long as the condition is true. As a block,<br>
                all the statements that comprise the block must be indented the same number of spaces from the left.<br>
                As with the if statement, the block must be indented more spaces than the line that begins the while statement.<br>
                The block technically is part of the while statement.<br>
                <strong>The For statement</strong>
                The while loop is ideal for indefinite loops.A programmer cannot always predict how many times a while loop will execute.<br>
                We have used a while loop to implement a definite loop, as in<br>
                n = 1<br>
                while n <= 10:<br>
                print(n)<br>
                n += 1<br>
                The print statement in this code executes exactly 10 times every time this code runs. This code requires three crucial pieces to<br>
                manage the loop:<br>
                • initialization: n = 1<br>
                • check: n <= 10<br>
                • update: n += 1<br>
                Python provides a more convenient way to express a definite loop. The for statement iterates over a range of values. These values can<br>
                be a numeric range, or, as we shall, elements of a data structure like a string, list, or tuple. The above while loop can be rewritten<br>
                for n in range(1, 11):<br>
                print(n)<br>
            </div>
        </div>
    </div>
</section>